WPFMultired/Connected Services/MR_OperationAdmin/RetrieveOperationAdmin.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://retrieveoperationadmin.wsbeans.iseries/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="RetrieveOperationAdmin" targetNamespace="http://retrieveoperationadmin.wsbeans.iseries/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xs:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://retrieveoperationadmin.wsbeans.iseries/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="mtrretarqc" type="tns:mtrretarqc" />
      <xs:element name="mtrretarqcResponse" type="tns:mtrretarqcResponse" />
      <xs:complexType name="mtrretarqc">
        <xs:sequence>
          <xs:element name="arg0" type="tns:mtrretarqcInput" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="mtrretarqcInput">
        <xs:sequence>
          <xs:element name="I_TERMINAL" type="xs:string" />
          <xs:element name="I_DIRECCIONIP" type="xs:string" />
          <xs:element name="I_TIMESTAMP" type="xs:string" />
          <xs:element name="I_CANAL" type="xs:string" />
          <xs:element name="I_LENGUAJE" type="xs:string" />
          <xs:element name="I_ENTIDADORIGEN" type="xs:string" />
          <xs:element name="I_INSTITUCION" type="xs:string" />
          <xs:element name="I_MOVIMIENTO" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="mtrretarqcResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:mtrretarqcResult" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="mtrretarqcResult">
        <xs:sequence>
          <xs:element name="O_CODIGOERROR" type="xs:string" />
          <xs:element name="O_MENSAJEERROR" type="xs:string" />
          <xs:element name="LISTAREGISTROS" type="tns:listaregistros" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="listaregistros">
        <xs:sequence>
          <xs:element name="O_RTNCON" type="xs:int" />
          <xs:element maxOccurs="unbounded" name="LIST" type="tns:listaregistroslist" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="listaregistroslist">
        <xs:sequence>
          <xs:element name="O_CASSET" type="xs:string" />
          <xs:element name="O_MONEDA" type="xs:string" />
          <xs:element name="O_DESMON" type="xs:string" />
          <xs:element name="O_TIPMON" type="xs:string" />
          <xs:element name="O_DESDON" type="xs:string" />
          <xs:element name="O_CODDEN" type="xs:string" />
          <xs:element name="O_CANDEN" type="xs:string" />
          <xs:element name="O_CANACT" type="xs:string" />
          <xs:element name="O_TIPDEV" type="xs:string" />
          <xs:element name="O_DESDEV" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </types>
  <message name="mtrretarqcResponse">
    <part name="parameters" element="tns:mtrretarqcResponse" />
  </message>
  <message name="mtrretarqc">
    <part name="parameters" element="tns:mtrretarqc" />
  </message>
  <portType name="RetrieveOperationAdminServices">
    <operation name="mtrretarqc">
      <input wsam:Action="http://retrieveoperationadmin.wsbeans.iseries/RetrieveOperationAdminServices/mtrretarqcRequest" message="tns:mtrretarqc" />
      <output wsam:Action="http://retrieveoperationadmin.wsbeans.iseries/RetrieveOperationAdminServices/mtrretarqcResponse" message="tns:mtrretarqcResponse" />
    </operation>
  </portType>
  <binding name="RetrieveOperationAdminServicesPortBinding" type="tns:RetrieveOperationAdminServices">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="mtrretarqc">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="RetrieveOperationAdmin">
    <port name="RetrieveOperationAdminServicesPort" binding="tns:RetrieveOperationAdminServicesPortBinding">
      <soap:address location="http://181.57.139.181:10035/web/services/RetrieveOperationAdminService/RetrieveOperationAdmin" />
    </port>
  </service>
</definitions>