WPFMultired/Connected Services/MR_ValidateAdminQR/QRValidateAdmin.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://qrvalidateadmin.wsbeans.iseries/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="QRValidateAdmin" targetNamespace="http://qrvalidateadmin.wsbeans.iseries/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xs:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://qrvalidateadmin.wsbeans.iseries/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="mtrvaladmc" type="tns:mtrvaladmc" />
      <xs:element name="mtrvaladmcResponse" type="tns:mtrvaladmcResponse" />
      <xs:complexType name="mtrvaladmc">
        <xs:sequence>
          <xs:element name="arg0" type="tns:mtrvaladmcInput" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="mtrvaladmcInput">
        <xs:sequence>
          <xs:element name="I_TERMINAL" type="xs:string" />
          <xs:element name="I_DIRECCIONIP" type="xs:string" />
          <xs:element name="I_TIMESTAMP" type="xs:string" />
          <xs:element name="I_CANAL" type="xs:string" />
          <xs:element name="I_LENGUAJE" type="xs:string" />
          <xs:element name="I_ENTIDADORIGEN" type="xs:string" />
          <xs:element name="I_INSTITUCION" type="xs:string" />
          <xs:element name="I_QRTEXT" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="mtrvaladmcResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:mtrvaladmcResult" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="mtrvaladmcResult">
        <xs:sequence>
          <xs:element name="O_CODIGOERROR" type="xs:string" />
          <xs:element name="O_MENSAJEERROR" type="xs:string" />
          <xs:element name="O_OBJECT" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </types>
  <message name="mtrvaladmc">
    <part name="parameters" element="tns:mtrvaladmc" />
  </message>
  <message name="mtrvaladmcResponse">
    <part name="parameters" element="tns:mtrvaladmcResponse" />
  </message>
  <portType name="QRValidateAdminServices">
    <operation name="mtrvaladmc">
      <input wsam:Action="http://qrvalidateadmin.wsbeans.iseries/QRValidateAdminServices/mtrvaladmcRequest" message="tns:mtrvaladmc" />
      <output wsam:Action="http://qrvalidateadmin.wsbeans.iseries/QRValidateAdminServices/mtrvaladmcResponse" message="tns:mtrvaladmcResponse" />
    </operation>
  </portType>
  <binding name="QRValidateAdminServicesPortBinding" type="tns:QRValidateAdminServices">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="mtrvaladmc">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="QRValidateAdmin">
    <port name="QRValidateAdminServicesPort" binding="tns:QRValidateAdminServicesPortBinding">
      <soap:address location="http://181.57.139.181:10035/web/services/QRValidateAdminService/QRValidateAdmin" />
    </port>
  </service>
</definitions>