WPFMultired/Connected Services/MR_ValidateOTP/validarOTP.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://validarotp.wsbeans.iseries/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="validarOTP" targetNamespace="http://validarotp.wsbeans.iseries/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xs:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://validarotp.wsbeans.iseries/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="mtrvalotp" type="tns:mtrvalotp" />
      <xs:element name="mtrvalotpResponse" type="tns:mtrvalotpResponse" />
      <xs:complexType name="mtrvalotp">
        <xs:sequence>
          <xs:element name="arg0" type="tns:mtrvalotpInput" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="mtrvalotpInput">
        <xs:sequence>
          <xs:element name="I_TERMINAL" type="xs:string" />
          <xs:element name="I_DIRECCIONIP" type="xs:string" />
          <xs:element name="I_TIMESTAMP" type="xs:string" />
          <xs:element name="I_CANAL" type="xs:string" />
          <xs:element name="I_LENGUAJE" type="xs:string" />
          <xs:element name="I_ENTIDADORIGEN" type="xs:string" />
          <xs:element name="I_INSTITUCION" type="xs:string" />
          <xs:element name="I_TOKEN" type="xs:string" />
          <xs:element name="I_REFERENCIA" type="xs:string" />
          <xs:element name="I_VALOR" type="xs:string" />
          <xs:element name="I_CUENTA" type="xs:string" />
          <xs:element name="I_SISTEMA" type="xs:string" />
          <xs:element name="I_PRODUCTO" type="xs:string" />
          <xs:element name="I_TIPOTRN" type="xs:string" />
          <xs:element name="I_CODIGOTP" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="mtrvalotpResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:mtrvalotpResult" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="mtrvalotpResult">
        <xs:sequence>
          <xs:element name="O_CODIGOERROR" type="xs:string" />
          <xs:element name="O_MENSAJEERROR" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </types>
  <message name="mtrvalotp">
    <part name="parameters" element="tns:mtrvalotp" />
  </message>
  <message name="mtrvalotpResponse">
    <part name="parameters" element="tns:mtrvalotpResponse" />
  </message>
  <portType name="ValidarOTPServices">
    <operation name="mtrvalotp">
      <input wsam:Action="http://validarotp.wsbeans.iseries/ValidarOTPServices/mtrvalotpRequest" message="tns:mtrvalotp" />
      <output wsam:Action="http://validarotp.wsbeans.iseries/ValidarOTPServices/mtrvalotpResponse" message="tns:mtrvalotpResponse" />
    </operation>
  </portType>
  <binding name="ValidarOTPServicesPortBinding" type="tns:ValidarOTPServices">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="mtrvalotp">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="validarOTP">
    <port name="ValidarOTPServicesPort" binding="tns:ValidarOTPServicesPortBinding">
      <soap:address location="http://181.57.139.181:10035/web/services/validarOTPService/validarOTP" />
    </port>
  </service>
</definitions>