WPFMultired/Connected Services/MR_ValidateTOTP/ValidateTOTPMultiRed.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://validatetotpmultired.wsbeans.iseries/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="ValidateTOTPMultiRed" targetNamespace="http://validatetotpmultired.wsbeans.iseries/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xs:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://validatetotpmultired.wsbeans.iseries/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="mtrvatotpc" type="tns:mtrvatotpc" />
      <xs:element name="mtrvatotpcResponse" type="tns:mtrvatotpcResponse" />
      <xs:complexType name="mtrvatotpc">
        <xs:sequence>
          <xs:element name="arg0" type="tns:mtrvatotpcInput" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="mtrvatotpcInput">
        <xs:sequence>
          <xs:element name="I_TERMINAL" type="xs:string" />
          <xs:element name="I_DIRECCIONIP" type="xs:string" />
          <xs:element name="I_TIMESTAMP" type="xs:string" />
          <xs:element name="I_CANAL" type="xs:string" />
          <xs:element name="I_LENGUAJE" type="xs:string" />
          <xs:element name="I_ENTIDADORIGEN" type="xs:string" />
          <xs:element name="I_INSTITUCION" type="xs:string" />
          <xs:element name="I_KEYRED" type="xs:string" />
          <xs:element name="I_KEYOTP" type="xs:string" />
          <xs:element name="I_CODOTP" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="mtrvatotpcResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:mtrvatotpcResult" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="mtrvatotpcResult">
        <xs:sequence>
          <xs:element name="O_CODIGOERROR" type="xs:string" />
          <xs:element name="O_MENSAJEERROR" type="xs:string" />
          <xs:element name="O_RESULT" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </types>
  <message name="mtrvatotpc">
    <part name="parameters" element="tns:mtrvatotpc" />
  </message>
  <message name="mtrvatotpcResponse">
    <part name="parameters" element="tns:mtrvatotpcResponse" />
  </message>
  <portType name="ValidateTOTPMultiRedServices">
    <operation name="mtrvatotpc">
      <input wsam:Action="http://validatetotpmultired.wsbeans.iseries/ValidateTOTPMultiRedServices/mtrvatotpcRequest" message="tns:mtrvatotpc" />
      <output wsam:Action="http://validatetotpmultired.wsbeans.iseries/ValidateTOTPMultiRedServices/mtrvatotpcResponse" message="tns:mtrvatotpcResponse" />
    </operation>
  </portType>
  <binding name="ValidateTOTPMultiRedServicesPortBinding" type="tns:ValidateTOTPMultiRedServices">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="mtrvatotpc">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="ValidateTOTPMultiRed">
    <port name="ValidateTOTPMultiRedServicesPort" binding="tns:ValidateTOTPMultiRedServicesPortBinding">
      <soap:address location="http://181.57.139.181:10035/web/services/ValidateTOTPMultiRedService/ValidateTOTPMultiRed" />
    </port>
  </service>
</definitions>