WPFMultired/Connected Services/MR_Language/ConsultarLenguaje.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://consultarlenguaje.wsbeans.iseries/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="ConsultarLenguaje" targetNamespace="http://consultarlenguaje.wsbeans.iseries/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xs:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://consultarlenguaje.wsbeans.iseries/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="mtrindlen" type="tns:mtrindlen" />
      <xs:element name="mtrindlenResponse" type="tns:mtrindlenResponse" />
      <xs:complexType name="mtrindlen">
        <xs:sequence>
          <xs:element name="arg0" type="tns:mtrindlenInput" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="mtrindlenInput">
        <xs:sequence>
          <xs:element name="I_TERMINAL" type="xs:string" />
          <xs:element name="I_DIRECCIONIP" type="xs:string" />
          <xs:element name="I_TIMESTAMP" type="xs:string" />
          <xs:element name="I_CANAL" type="xs:string" />
          <xs:element name="I_LENGUAJE" type="xs:string" />
          <xs:element name="I_ENTIDADORIGEN" type="xs:string" />
          <xs:element name="I_INSTITUCION" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="mtrindlenResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:mtrindlenResult" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="mtrindlenResult">
        <xs:sequence>
          <xs:element name="O_CODIGOERROR" type="xs:string" />
          <xs:element name="O_MENSAJEERROR" type="xs:string" />
          <xs:element name="O_LISTAREGISTROS" type="tns:oLISTAREGISTROS" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="oLISTAREGISTROS">
        <xs:sequence>
          <xs:element name="O_RTNCON" type="xs:long" />
          <xs:element maxOccurs="unbounded" name="LIST" type="tns:oLISTAREGISTROSLIST" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="oLISTAREGISTROSLIST">
        <xs:sequence>
          <xs:element name="O_INDLEN" type="xs:string" />
          <xs:element name="O_NOMLEN" type="xs:string" />
          <xs:element name="O_BANDER" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </types>
  <message name="mtrindlen">
    <part name="parameters" element="tns:mtrindlen" />
  </message>
  <message name="mtrindlenResponse">
    <part name="parameters" element="tns:mtrindlenResponse" />
  </message>
  <portType name="ConsultarLenguajeServices">
    <operation name="mtrindlen">
      <input wsam:Action="http://consultarlenguaje.wsbeans.iseries/ConsultarLenguajeServices/mtrindlenRequest" message="tns:mtrindlen" />
      <output wsam:Action="http://consultarlenguaje.wsbeans.iseries/ConsultarLenguajeServices/mtrindlenResponse" message="tns:mtrindlenResponse" />
    </operation>
  </portType>
  <binding name="ConsultarLenguajeServicesPortBinding" type="tns:ConsultarLenguajeServices">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="mtrindlen">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="ConsultarLenguaje">
    <port name="ConsultarLenguajeServicesPort" binding="tns:ConsultarLenguajeServicesPortBinding">
      <soap:address location="http://181.57.139.181:10035/web/services/ConsultarLenguajeService/ConsultarLenguaje" />
    </port>
  </service>
</definitions>