WPFMultired/Connected Services/MR_ProcessAdmin/ProcessAdmin.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://processadmin.wsbeans.iseries/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="ProcessAdmin" targetNamespace="http://processadmin.wsbeans.iseries/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xs:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://processadmin.wsbeans.iseries/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="mtrproarqc" type="tns:mtrproarqc" />
      <xs:element name="mtrproarqcResponse" type="tns:mtrproarqcResponse" />
      <xs:complexType name="mtrproarqc">
        <xs:sequence>
          <xs:element name="arg0" type="tns:mtrproarqcInput" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="mtrproarqcInput">
        <xs:sequence>
          <xs:element name="I_TERMINAL" type="xs:string" />
          <xs:element name="I_DIRECCIONIP" type="xs:string" />
          <xs:element name="I_TIMESTAMP" type="xs:string" />
          <xs:element name="I_CANAL" type="xs:string" />
          <xs:element name="I_LENGUAJE" type="xs:string" />
          <xs:element name="I_ENTIDADORIGEN" type="xs:string" />
          <xs:element name="I_INSTITUCION" type="xs:string" />
          <xs:element name="I_MOVIMIENTO" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="mtrproarqcResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:mtrproarqcResult" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="mtrproarqcResult">
        <xs:sequence>
          <xs:element name="O_CODIGOERROR" type="xs:string" />
          <xs:element name="O_MENSAJEERROR" type="xs:string" />
          <xs:element name="O_FECHAPROCESO" type="xs:string" />
          <xs:element name="O_FECHASISTEMA" type="xs:string" />
          <xs:element name="O_HORATRANSACCION" type="xs:string" />
          <xs:element name="O_CAJEROTRANSACCION" type="xs:string" />
          <xs:element name="O_NUMEROTRANSACCION" type="xs:string" />
          <xs:element name="O_AGENCIATRANSACCION" type="xs:string" />
          <xs:element name="O_VALORTRANSACCION" type="xs:string" />
          <xs:element name="O_NITCAJERO" type="xs:string" />
          <xs:element name="O_NOMBRECAJERO" type="xs:string" />
          <xs:element name="O_DESCRIPCION" type="xs:string" />
          <xs:element name="O_NOMBREBANCO" type="xs:string" />
          <xs:element name="O_NOMBREAGENCIA" type="xs:string" />
          <xs:element name="O_CAJEROORIGEN" type="xs:string" />
          <xs:element name="O_NITCAJEROORIGEN" type="xs:string" />
          <xs:element name="O_NOMBRECAJEROORIGEN" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </types>
  <message name="mtrproarqcResponse">
    <part name="parameters" element="tns:mtrproarqcResponse" />
  </message>
  <message name="mtrproarqc">
    <part name="parameters" element="tns:mtrproarqc" />
  </message>
  <portType name="ProcessAdminServices">
    <operation name="mtrproarqc">
      <input wsam:Action="http://processadmin.wsbeans.iseries/ProcessAdminServices/mtrproarqcRequest" message="tns:mtrproarqc" />
      <output wsam:Action="http://processadmin.wsbeans.iseries/ProcessAdminServices/mtrproarqcResponse" message="tns:mtrproarqcResponse" />
    </operation>
  </portType>
  <binding name="ProcessAdminServicesPortBinding" type="tns:ProcessAdminServices">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="mtrproarqc">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="ProcessAdmin">
    <port name="ProcessAdminServicesPort" binding="tns:ProcessAdminServicesPortBinding">
      <soap:address location="http://181.57.139.181:10035/web/services/ProcessAdminService/ProcessAdmin" />
    </port>
  </service>
</definitions>