WPFMultired/Connected Services/MR_ConsultInvoice/ConsultarFacturas.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://consultarfacturas.wsbeans.iseries/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="ConsultarFacturas" targetNamespace="http://consultarfacturas.wsbeans.iseries/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xs:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://consultarfacturas.wsbeans.iseries/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="mtrconfacc" type="tns:mtrconfacc" />
      <xs:element name="mtrconfaccResponse" type="tns:mtrconfaccResponse" />
      <xs:complexType name="mtrconfacc">
        <xs:sequence>
          <xs:element name="arg0" type="tns:mtrconfaccInput" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="mtrconfaccInput">
        <xs:sequence>
          <xs:element name="I_TERMINAL" type="xs:string" />
          <xs:element name="I_DIRECCIONIP" type="xs:string" />
          <xs:element name="I_TIMESTAMP" type="xs:string" />
          <xs:element name="I_CANAL" type="xs:string" />
          <xs:element name="I_LENGUAJE" type="xs:string" />
          <xs:element name="I_ENTIDADORIGEN" type="xs:string" />
          <xs:element name="I_INSTITUCION" type="xs:string" />
          <xs:element name="I_LECTURA" type="xs:string" />
          <xs:element name="I_TIPODOCUMENTO" type="xs:string" />
          <xs:element name="I_REFERENCIA" type="xs:string" />
          <xs:element name="I_TIPOTRANSACCION" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="mtrconfaccResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:mtrconfaccResult" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="mtrconfaccResult">
        <xs:sequence>
          <xs:element name="O_CODIGOERROR" type="xs:string" />
          <xs:element name="O_MENSAJEERROR" type="xs:string" />
          <xs:element name="O_TIPOOPERACION" type="xs:string" />
          <xs:element name="O_DESOPERACION" type="xs:string" />
          <xs:element name="O_NUMERODOCUMENTO" type="xs:string" />
          <xs:element name="O_NOMBRE" type="xs:string" />
          <xs:element name="O_VALORGLOBAL" type="xs:string" />
          <xs:element name="LISTAREGISTROS" type="tns:listaregistros" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="listaregistros">
        <xs:sequence>
          <xs:element name="O_RTNCON" type="xs:long" />
          <xs:element maxOccurs="unbounded" name="LIST" type="tns:listaregistroslist" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="listaregistroslist">
        <xs:sequence>
          <xs:element name="O_REFRED" type="xs:string" />
          <xs:element name="O_REFCLI" type="xs:string" />
          <xs:element name="O_DESCRI" type="xs:string" />
          <xs:element name="O_FLGMOD" type="xs:string" />
          <xs:element name="O_FLGDET" type="xs:string" />
          <xs:element name="O_VLRTOT" type="xs:string" />
          <xs:element name="O_VLRREC" type="xs:string" />
          <xs:element name="O_VLRCOM" type="xs:string" />
          <xs:element name="O_MONMIN" type="xs:string" />
          <xs:element name="O_MONMAX" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </types>
  <message name="mtrconfacc">
    <part name="parameters" element="tns:mtrconfacc" />
  </message>
  <message name="mtrconfaccResponse">
    <part name="parameters" element="tns:mtrconfaccResponse" />
  </message>
  <portType name="ConsultarFacturasServices">
    <operation name="mtrconfacc">
      <input wsam:Action="http://consultarfacturas.wsbeans.iseries/ConsultarFacturasServices/mtrconfaccRequest" message="tns:mtrconfacc" />
      <output wsam:Action="http://consultarfacturas.wsbeans.iseries/ConsultarFacturasServices/mtrconfaccResponse" message="tns:mtrconfaccResponse" />
    </operation>
  </portType>
  <binding name="ConsultarFacturasServicesPortBinding" type="tns:ConsultarFacturasServices">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="mtrconfacc">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="ConsultarFacturas">
    <port name="ConsultarFacturasServicesPort" binding="tns:ConsultarFacturasServicesPortBinding">
      <soap:address location="http://181.57.139.181:10035/web/services/ConsultarFacturasService/ConsultarFacturas" />
    </port>
  </service>
</definitions>