WPFMultired/Connected Services/MR_ConsultInvoice/ConsultasRed.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://consultasred.wsbeans.iseries/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="ConsultasRed" targetNamespace="http://consultasred.wsbeans.iseries/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xs:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://consultasred.wsbeans.iseries/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="mtrhalleyc" type="tns:mtrhalleyc" />
      <xs:element name="mtrhalleycResponse" type="tns:mtrhalleycResponse" />
      <xs:complexType name="mtrhalleyc">
        <xs:sequence>
          <xs:element name="arg0" type="tns:mtrhalleycInput" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="mtrhalleycInput">
        <xs:sequence>
          <xs:element name="I_TERMINAL" type="xs:string" />
          <xs:element name="I_DIRECCIONIP" type="xs:string" />
          <xs:element name="I_TIMESTAMP" type="xs:string" />
          <xs:element name="I_CANAL" type="xs:string" />
          <xs:element name="I_LENGUAJE" type="xs:string" />
          <xs:element name="I_ENTIDADORIGEN" type="xs:string" />
          <xs:element name="I_INSTITUCION" type="xs:string" />
          <xs:element name="I_LECTURA" type="xs:string" />
          <xs:element name="I_TIPODOCUMENTO" type="xs:string" />
          <xs:element name="I_REFERENCIA" type="xs:string" />
          <xs:element name="I_TIPOTRANSACCION" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="mtrhalleycResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:mtrhalleycResult" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="mtrhalleycResult">
        <xs:sequence>
          <xs:element name="O_CODIGOERROR" type="xs:string" />
          <xs:element name="O_MENSAJEERROR" type="xs:string" />
          <xs:element name="O_TIPOOPERACION" type="xs:string" />
          <xs:element name="O_DESOPERACION" type="xs:string" />
          <xs:element name="O_NUMERODOCUMENTO" type="xs:string" />
          <xs:element name="O_NOMBRE" type="xs:string" />
          <xs:element name="O_VALORGLOBAL" type="xs:string" />
          <xs:element name="LISTAREGISTROS" type="tns:listaregistros" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="listaregistros">
        <xs:sequence>
          <xs:element name="O_RTNCON" type="xs:long" />
          <xs:element maxOccurs="unbounded" name="LIST" type="tns:listaregistroslist" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="listaregistroslist">
        <xs:sequence>
          <xs:element name="O_REFRED" type="xs:string" />
          <xs:element name="O_REFCLI" type="xs:string" />
          <xs:element name="O_DESCRI" type="xs:string" />
          <xs:element name="O_FLGMOD" type="xs:string" />
          <xs:element name="O_FLGDET" type="xs:string" />
          <xs:element name="O_VLRTOT" type="xs:string" />
          <xs:element name="O_VLRREC" type="xs:string" />
          <xs:element name="O_VLRCOM" type="xs:string" />
          <xs:element name="O_MONMIN" type="xs:string" />
          <xs:element name="O_MONMAX" type="xs:string" />
          <xs:element name="O_DATADI" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </types>
  <message name="mtrhalleycResponse">
    <part name="parameters" element="tns:mtrhalleycResponse" />
  </message>
  <message name="mtrhalleyc">
    <part name="parameters" element="tns:mtrhalleyc" />
  </message>
  <portType name="ConsultasRedServices">
    <operation name="mtrhalleyc">
      <input wsam:Action="http://consultasred.wsbeans.iseries/ConsultasRedServices/mtrhalleycRequest" message="tns:mtrhalleyc" />
      <output wsam:Action="http://consultasred.wsbeans.iseries/ConsultasRedServices/mtrhalleycResponse" message="tns:mtrhalleycResponse" />
    </operation>
  </portType>
  <binding name="ConsultasRedServicesPortBinding" type="tns:ConsultasRedServices">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="mtrhalleyc">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="ConsultasRed">
    <port name="ConsultasRedServicesPort" binding="tns:ConsultasRedServicesPortBinding">
      <soap:address location="http://181.57.139.181:10035/web/services/ConsultasRedService/ConsultasRed" />
    </port>
  </service>
</definitions>