WPFMultired/Connected Services/MR_Institutions/consultarInstituciones.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://consultarinstituciones.wsbeans.iseries/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="consultarInstituciones" targetNamespace="http://consultarinstituciones.wsbeans.iseries/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xs:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://consultarinstituciones.wsbeans.iseries/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="mtrintmul" type="tns:mtrintmul" />
      <xs:element name="mtrintmulResponse" type="tns:mtrintmulResponse" />
      <xs:complexType name="mtrintmul">
        <xs:sequence>
          <xs:element name="arg0" type="tns:mtrintmulInput" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="mtrintmulInput">
        <xs:sequence>
          <xs:element name="I_TERMINAL" type="xs:string" />
          <xs:element name="I_DIRECCIONIP" type="xs:string" />
          <xs:element name="I_TIMESTAMP" type="xs:string" />
          <xs:element name="I_CANAL" type="xs:string" />
          <xs:element name="I_LENGUAJE" type="xs:string" />
          <xs:element name="I_ENTIDADORIGEN" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="mtrintmulResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:mtrintmulResult" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="mtrintmulResult">
        <xs:sequence>
          <xs:element name="O_CODIGOERROR" type="xs:string" />
          <xs:element name="O_MENSAJEERROR" type="xs:string" />
          <xs:element name="O_LISTAREGISTROS" type="tns:oLISTAREGISTROS" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="oLISTAREGISTROS">
        <xs:sequence>
          <xs:element name="O_RTNCON" type="xs:long" />
          <xs:element maxOccurs="unbounded" name="LIST" type="tns:oLISTAREGISTROSLIST" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="oLISTAREGISTROSLIST">
        <xs:sequence>
          <xs:element name="O_CODINS" type="xs:string" />
          <xs:element name="O_NOMINS" type="xs:string" />
          <xs:element name="O_LOGO" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </types>
  <message name="mtrintmul">
    <part name="parameters" element="tns:mtrintmul" />
  </message>
  <message name="mtrintmulResponse">
    <part name="parameters" element="tns:mtrintmulResponse" />
  </message>
  <portType name="ConsultarInstitucionesServices">
    <operation name="mtrintmul">
      <input wsam:Action="http://consultarinstituciones.wsbeans.iseries/ConsultarInstitucionesServices/mtrintmulRequest" message="tns:mtrintmul" />
      <output wsam:Action="http://consultarinstituciones.wsbeans.iseries/ConsultarInstitucionesServices/mtrintmulResponse" message="tns:mtrintmulResponse" />
    </operation>
  </portType>
  <binding name="ConsultarInstitucionesServicesPortBinding" type="tns:ConsultarInstitucionesServices">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="mtrintmul">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="consultarInstituciones">
    <port name="ConsultarInstitucionesServicesPort" binding="tns:ConsultarInstitucionesServicesPortBinding">
      <soap:address location="http://181.57.139.181:10035/web/services/consultarInstitucionesService/consultarInstituciones" />
    </port>
  </service>
</definitions>