WPFMultired/Connected Services/MR_ControllCash/ASMController.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://asmcontroller.wsbeans.iseries/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="ASMController" targetNamespace="http://asmcontroller.wsbeans.iseries/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xs:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://asmcontroller.wsbeans.iseries/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="mtrctlbllc" type="tns:mtrctlbllc" />
      <xs:element name="mtrctlbllcResponse" type="tns:mtrctlbllcResponse" />
      <xs:complexType name="mtrctlbllc">
        <xs:sequence>
          <xs:element name="arg0" type="tns:mtrctlbllcInput" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="mtrctlbllcInput">
        <xs:sequence>
          <xs:element name="I_TERMINAL" type="xs:string" />
          <xs:element name="I_DIRECCIONIP" type="xs:string" />
          <xs:element name="I_TIMESTAMP" type="xs:string" />
          <xs:element name="I_CANAL" type="xs:string" />
          <xs:element name="I_LENGUAJE" type="xs:string" />
          <xs:element name="I_ENTIDADORIGEN" type="xs:string" />
          <xs:element name="I_INSTITUCION" type="xs:string" />
          <xs:element name="I_TRANSACCION" type="xs:string" />
          <xs:element name="I_ESTADO" type="xs:string" />
          <xs:element name="I_TRNTAYLOR" type="xs:string" />
          <xs:element name="I_LISTAREGISTROS" type="tns:iLISTAREGISTROS" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="iLISTAREGISTROS">
        <xs:sequence>
          <xs:element name="I_RTNCON" type="xs:long" />
          <xs:element maxOccurs="unbounded" name="LIST" type="tns:iLISTAREGISTROSLIST" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="iLISTAREGISTROSLIST">
        <xs:sequence>
          <xs:element name="I_CODMON" type="xs:string" />
          <xs:element name="I_TIPOMB" type="xs:string" />
          <xs:element name="I_DENOMI" type="xs:string" />
          <xs:element name="I_CANTID" type="xs:string" />
          <xs:element name="I_TIPDEV" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="mtrctlbllcResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:mtrctlbllcResult" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="mtrctlbllcResult">
        <xs:sequence>
          <xs:element name="O_CODIGOERROR" type="xs:string" />
          <xs:element name="O_MENSAJEERROR" type="xs:string" />
          <xs:element name="O_RESULTADO" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </types>
  <message name="mtrctlbllcResponse">
    <part name="parameters" element="tns:mtrctlbllcResponse" />
  </message>
  <message name="mtrctlbllc">
    <part name="parameters" element="tns:mtrctlbllc" />
  </message>
  <portType name="ASMControllerServices">
    <operation name="mtrctlbllc">
      <input wsam:Action="http://asmcontroller.wsbeans.iseries/ASMControllerServices/mtrctlbllcRequest" message="tns:mtrctlbllc" />
      <output wsam:Action="http://asmcontroller.wsbeans.iseries/ASMControllerServices/mtrctlbllcResponse" message="tns:mtrctlbllcResponse" />
    </operation>
  </portType>
  <binding name="ASMControllerServicesPortBinding" type="tns:ASMControllerServices">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="mtrctlbllc">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="ASMController">
    <port name="ASMControllerServicesPort" binding="tns:ASMControllerServicesPortBinding">
      <soap:address location="http://181.57.139.181:10035/web/services/ASMControllerService/ASMController" />
    </port>
  </service>
</definitions>