WPFMultired/Connected Services/MR_TypeDocument/consultarTiposDeDocumento.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://consultartiposdedocumento.wsbeans.iseries/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="consultarTiposDeDocumento" targetNamespace="http://consultartiposdedocumento.wsbeans.iseries/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xs:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://consultartiposdedocumento.wsbeans.iseries/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="mtrtipdocc" type="tns:mtrtipdocc" />
      <xs:element name="mtrtipdoccResponse" type="tns:mtrtipdoccResponse" />
      <xs:complexType name="mtrtipdocc">
        <xs:sequence>
          <xs:element name="arg0" type="tns:mtrtipdoccInput" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="mtrtipdoccInput">
        <xs:sequence>
          <xs:element name="I_TERMINAL" type="xs:string" />
          <xs:element name="I_DIRECCIONIP" type="xs:string" />
          <xs:element name="I_TIMESTAMP" type="xs:string" />
          <xs:element name="I_CANAL" type="xs:string" />
          <xs:element name="I_LENGUAJE" type="xs:string" />
          <xs:element name="I_ENTIDADORIGEN" type="xs:string" />
          <xs:element name="I_INSTITUCION" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="mtrtipdoccResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:mtrtipdoccResult" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="mtrtipdoccResult">
        <xs:sequence>
          <xs:element name="O_CODIGOERROR" type="xs:string" />
          <xs:element name="O_MENSAJEERROR" type="xs:string" />
          <xs:element name="LISTAREGISTROS" type="tns:listaregistros" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="listaregistros">
        <xs:sequence>
          <xs:element name="O_RTNCON" type="xs:int" />
          <xs:element maxOccurs="unbounded" name="LIST" type="tns:listaregistroslist" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="listaregistroslist">
        <xs:sequence>
          <xs:element name="O_CODTIP" type="xs:string" />
          <xs:element name="O_DESTIP" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </types>
  <message name="mtrtipdocc">
    <part name="parameters" element="tns:mtrtipdocc" />
  </message>
  <message name="mtrtipdoccResponse">
    <part name="parameters" element="tns:mtrtipdoccResponse" />
  </message>
  <portType name="ConsultarTiposDeDocumentoServices">
    <operation name="mtrtipdocc">
      <input wsam:Action="http://consultartiposdedocumento.wsbeans.iseries/ConsultarTiposDeDocumentoServices/mtrtipdoccRequest" message="tns:mtrtipdocc" />
      <output wsam:Action="http://consultartiposdedocumento.wsbeans.iseries/ConsultarTiposDeDocumentoServices/mtrtipdoccResponse" message="tns:mtrtipdoccResponse" />
    </operation>
  </portType>
  <binding name="ConsultarTiposDeDocumentoServicesPortBinding" type="tns:ConsultarTiposDeDocumentoServices">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="mtrtipdocc">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="consultarTiposDeDocumento">
    <port name="ConsultarTiposDeDocumentoServicesPort" binding="tns:ConsultarTiposDeDocumentoServicesPortBinding">
      <soap:address location="http://181.57.139.181:10035/web/services/consultarTiposDeDocumentoService/consultarTiposDeDocumento" />
    </port>
  </service>
</definitions>