WPFMultired/Connected Services/MR_TypeDocument/TiposDocumentos.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://tiposdocumentos.wsbeans.iseries/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="TiposDocumentos" targetNamespace="http://tiposdocumentos.wsbeans.iseries/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xs:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://tiposdocumentos.wsbeans.iseries/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="mtrdoctrnc" type="tns:mtrdoctrnc" />
      <xs:element name="mtrdoctrncResponse" type="tns:mtrdoctrncResponse" />
      <xs:complexType name="mtrdoctrnc">
        <xs:sequence>
          <xs:element name="arg0" type="tns:mtrdoctrncInput" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="mtrdoctrncInput">
        <xs:sequence>
          <xs:element name="I_TERMINAL" type="xs:string" />
          <xs:element name="I_DIRECCIONIP" type="xs:string" />
          <xs:element name="I_TIMESTAMP" type="xs:string" />
          <xs:element name="I_CANAL" type="xs:string" />
          <xs:element name="I_LENGUAJE" type="xs:string" />
          <xs:element name="I_ENTIDADORIGEN" type="xs:string" />
          <xs:element name="I_INSTITUCION" type="xs:string" />
          <xs:element name="I_TIPOTRANSACCION" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="mtrdoctrncResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:mtrdoctrncResult" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="mtrdoctrncResult">
        <xs:sequence>
          <xs:element name="O_CODIGOERROR" type="xs:string" />
          <xs:element name="O_MENSAJEERROR" type="xs:string" />
          <xs:element name="LISTAREGISTROS" type="tns:listaregistros" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="listaregistros">
        <xs:sequence>
          <xs:element name="O_RTNCON" type="xs:long" />
          <xs:element maxOccurs="unbounded" name="LIST" type="tns:listaregistroslist" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="listaregistroslist">
        <xs:sequence>
          <xs:element name="O_TIPDOC" type="xs:string" />
          <xs:element name="O_DSCDOC" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </types>
  <message name="mtrdoctrncResponse">
    <part name="parameters" element="tns:mtrdoctrncResponse" />
  </message>
  <message name="mtrdoctrnc">
    <part name="parameters" element="tns:mtrdoctrnc" />
  </message>
  <portType name="TiposDocumentosServices">
    <operation name="mtrdoctrnc">
      <input wsam:Action="http://tiposdocumentos.wsbeans.iseries/TiposDocumentosServices/mtrdoctrncRequest" message="tns:mtrdoctrnc" />
      <output wsam:Action="http://tiposdocumentos.wsbeans.iseries/TiposDocumentosServices/mtrdoctrncResponse" message="tns:mtrdoctrncResponse" />
    </operation>
  </portType>
  <binding name="TiposDocumentosServicesPortBinding" type="tns:TiposDocumentosServices">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="mtrdoctrnc">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="TiposDocumentos">
    <port name="TiposDocumentosServicesPort" binding="tns:TiposDocumentosServicesPortBinding">
      <soap:address location="http://181.57.139.181:10035/web/services/TiposDocumentosService/TiposDocumentos" />
    </port>
  </service>
</definitions>