WPFMultired/Connected Services/MR_TypeTransaction/consultarTiposDeTransaccion.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://consultartiposdetransaccion.wsbeans.iseries/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="consultarTiposDeTransaccion" targetNamespace="http://consultartiposdetransaccion.wsbeans.iseries/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xs:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://consultartiposdetransaccion.wsbeans.iseries/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="mtrtiptrn" type="tns:mtrtiptrn" />
      <xs:element name="mtrtiptrnResponse" type="tns:mtrtiptrnResponse" />
      <xs:complexType name="mtrtiptrn">
        <xs:sequence>
          <xs:element name="arg0" type="tns:mtrtiptrnInput" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="mtrtiptrnInput">
        <xs:sequence>
          <xs:element name="I_TERMINAL" type="xs:string" />
          <xs:element name="I_DIRECCIONIP" type="xs:string" />
          <xs:element name="I_TIMESTAMP" type="xs:string" />
          <xs:element name="I_CANAL" type="xs:string" />
          <xs:element name="I_LENGUAJE" type="xs:string" />
          <xs:element name="I_ENTIDADORIGEN" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="mtrtiptrnResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:mtrtiptrnResult" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="mtrtiptrnResult">
        <xs:sequence>
          <xs:element name="O_CODIGOERROR" type="xs:string" />
          <xs:element name="O_MENSAJEERROR" type="xs:string" />
          <xs:element name="O_LISTAREGISTROS" type="tns:oLISTAREGISTROS" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="oLISTAREGISTROS">
        <xs:sequence>
          <xs:element name="O_RTNCON" type="xs:long" />
          <xs:element maxOccurs="unbounded" name="LIST" type="tns:oLISTAREGISTROSLIST" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="oLISTAREGISTROSLIST">
        <xs:sequence>
          <xs:element name="O_TIPTRN" type="xs:string" />
          <xs:element name="O_DSCTRN" type="xs:string" />
          <xs:element name="O_ENTREC" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </types>
  <message name="mtrtiptrnResponse">
    <part name="parameters" element="tns:mtrtiptrnResponse" />
  </message>
  <message name="mtrtiptrn">
    <part name="parameters" element="tns:mtrtiptrn" />
  </message>
  <portType name="ConsultarTiposDeTransaccionServices">
    <operation name="mtrtiptrn">
      <input wsam:Action="http://consultartiposdetransaccion.wsbeans.iseries/ConsultarTiposDeTransaccionServices/mtrtiptrnRequest" message="tns:mtrtiptrn" />
      <output wsam:Action="http://consultartiposdetransaccion.wsbeans.iseries/ConsultarTiposDeTransaccionServices/mtrtiptrnResponse" message="tns:mtrtiptrnResponse" />
    </operation>
  </portType>
  <binding name="ConsultarTiposDeTransaccionServicesPortBinding" type="tns:ConsultarTiposDeTransaccionServices">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="mtrtiptrn">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="consultarTiposDeTransaccion">
    <port name="ConsultarTiposDeTransaccionServicesPort" binding="tns:ConsultarTiposDeTransaccionServicesPortBinding">
      <soap:address location="http://181.57.139.181:10035/web/services/consultarTiposDeTransaccionService/consultarTiposDeTransaccion" />
    </port>
  </service>
</definitions>