WPFMultired/Connected Services/MR_TypeTransaction/TiposTransacciones.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://tipostransacciones.wsbeans.iseries/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="TiposTransacciones" targetNamespace="http://tipostransacciones.wsbeans.iseries/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xs:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://tipostransacciones.wsbeans.iseries/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="mtrtiptrnc" type="tns:mtrtiptrnc" />
      <xs:element name="mtrtiptrncResponse" type="tns:mtrtiptrncResponse" />
      <xs:complexType name="mtrtiptrnc">
        <xs:sequence>
          <xs:element name="arg0" type="tns:mtrtiptrncInput" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="mtrtiptrncInput">
        <xs:sequence>
          <xs:element name="I_TERMINAL" type="xs:string" />
          <xs:element name="I_DIRECCIONIP" type="xs:string" />
          <xs:element name="I_TIMESTAMP" type="xs:string" />
          <xs:element name="I_CANAL" type="xs:string" />
          <xs:element name="I_LENGUAJE" type="xs:string" />
          <xs:element name="I_ENTIDADORIGEN" type="xs:string" />
          <xs:element name="I_INSTITUCION" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="mtrtiptrncResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:mtrtiptrncResult" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="mtrtiptrncResult">
        <xs:sequence>
          <xs:element name="O_CODIGOERROR" type="xs:string" />
          <xs:element name="O_MENSAJEERROR" type="xs:string" />
          <xs:element name="LISTAREGISTROS" type="tns:listaregistros" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="listaregistros">
        <xs:sequence>
          <xs:element name="O_RTNCON" type="xs:long" />
          <xs:element maxOccurs="unbounded" name="LIST" type="tns:listaregistroslist" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="listaregistroslist">
        <xs:sequence>
          <xs:element name="O_TIPTRN" type="xs:string" />
          <xs:element name="O_DSCTRN" type="xs:string" />
          <xs:element name="O_ENTREC" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </types>
  <message name="mtrtiptrncResponse">
    <part name="parameters" element="tns:mtrtiptrncResponse" />
  </message>
  <message name="mtrtiptrnc">
    <part name="parameters" element="tns:mtrtiptrnc" />
  </message>
  <portType name="TiposTransaccionesServices">
    <operation name="mtrtiptrnc">
      <input wsam:Action="http://tipostransacciones.wsbeans.iseries/TiposTransaccionesServices/mtrtiptrncRequest" message="tns:mtrtiptrnc" />
      <output wsam:Action="http://tipostransacciones.wsbeans.iseries/TiposTransaccionesServices/mtrtiptrncResponse" message="tns:mtrtiptrncResponse" />
    </operation>
  </portType>
  <binding name="TiposTransaccionesServicesPortBinding" type="tns:TiposTransaccionesServices">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="mtrtiptrnc">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="TiposTransacciones">
    <port name="TiposTransaccionesServicesPort" binding="tns:TiposTransaccionesServicesPortBinding">
      <soap:address location="http://181.57.139.181:10035/web/services/TiposTransaccionesService/TiposTransacciones" />
    </port>
  </service>
</definitions>