WPFMultired/Connected Services/MR_CodeQR/QRDecode.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://qrdecode.wsbeans.iseries/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="QRDecode" targetNamespace="http://qrdecode.wsbeans.iseries/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xs:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://qrdecode.wsbeans.iseries/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="mtrctlaqrc" type="tns:mtrctlaqrc" />
      <xs:element name="mtrctlaqrcResponse" type="tns:mtrctlaqrcResponse" />
      <xs:complexType name="mtrctlaqrc">
        <xs:sequence>
          <xs:element name="arg0" type="tns:mtrctlaqrcInput" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="mtrctlaqrcInput">
        <xs:sequence>
          <xs:element name="I_TERMINAL" type="xs:string" />
          <xs:element name="I_DIRECCIONIP" type="xs:string" />
          <xs:element name="I_TIMESTAMP" type="xs:string" />
          <xs:element name="I_CANAL" type="xs:string" />
          <xs:element name="I_LENGUAJE" type="xs:string" />
          <xs:element name="I_ENTIDADORIGEN" type="xs:string" />
          <xs:element name="I_INSTITUCION" type="xs:string" />
          <xs:element name="I_QRTEXT" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="mtrctlaqrcResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:mtrctlaqrcResult" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="mtrctlaqrcResult">
        <xs:sequence>
          <xs:element name="O_CODIGOERROR" type="xs:string" />
          <xs:element name="O_MENSAJEERROR" type="xs:string" />
          <xs:element name="O_OBJECT" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </types>
  <message name="mtrctlaqrcResponse">
    <part name="parameters" element="tns:mtrctlaqrcResponse" />
  </message>
  <message name="mtrctlaqrc">
    <part name="parameters" element="tns:mtrctlaqrc" />
  </message>
  <portType name="QRDecodeServices">
    <operation name="mtrctlaqrc">
      <input wsam:Action="http://qrdecode.wsbeans.iseries/QRDecodeServices/mtrctlaqrcRequest" message="tns:mtrctlaqrc" />
      <output wsam:Action="http://qrdecode.wsbeans.iseries/QRDecodeServices/mtrctlaqrcResponse" message="tns:mtrctlaqrcResponse" />
    </operation>
  </portType>
  <binding name="QRDecodeServicesPortBinding" type="tns:QRDecodeServices">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="mtrctlaqrc">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="QRDecode">
    <port name="QRDecodeServicesPort" binding="tns:QRDecodeServicesPortBinding">
      <soap:address location="http://181.57.139.181:10035/web/services/QRDecodeService/QRDecode" />
    </port>
  </service>
</definitions>