WPFMultired/Connected Services/MR_NotificInvoice/RecaudoFacturas.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://recaudofacturas.wsbeans.iseries/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="RecaudoFacturas" targetNamespace="http://recaudofacturas.wsbeans.iseries/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xs:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://recaudofacturas.wsbeans.iseries/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="mtrrecfacc" type="tns:mtrrecfacc" />
      <xs:element name="mtrrecfaccResponse" type="tns:mtrrecfaccResponse" />
      <xs:complexType name="mtrrecfacc">
        <xs:sequence>
          <xs:element name="arg0" type="tns:mtrrecfaccInput" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="mtrrecfaccInput">
        <xs:sequence>
          <xs:element name="I_TERMINAL" type="xs:string" />
          <xs:element name="I_DIRECCIONIP" type="xs:string" />
          <xs:element name="I_TIMESTAMP" type="xs:string" />
          <xs:element name="I_CANAL" type="xs:string" />
          <xs:element name="I_LENGUAJE" type="xs:string" />
          <xs:element name="I_ENTIDADORIGEN" type="xs:string" />
          <xs:element name="I_INSTITUCION" type="xs:string" />
          <xs:element name="I_KEYASM" type="xs:string" />
          <xs:element name="I_KEYRED" type="xs:string" />
          <xs:element name="I_VALORRECAUDADO" type="xs:string" />
          <xs:element name="I_VALORDEVUELTO" type="xs:string" />
          <xs:element name="I_LISTAREGISTROS" type="tns:iLISTAREGISTROS" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="iLISTAREGISTROS">
        <xs:sequence>
          <xs:element name="I_RTNCON" type="xs:long" />
          <xs:element maxOccurs="unbounded" name="LIST" type="tns:iLISTAREGISTROSLIST" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="iLISTAREGISTROSLIST">
        <xs:sequence>
          <xs:element name="I_CODMON" type="xs:string" />
          <xs:element name="I_TIPOMB" type="xs:string" />
          <xs:element name="I_DENOMI" type="xs:string" />
          <xs:element name="I_CANTID" type="xs:string" />
          <xs:element name="I_TIPDEV" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="mtrrecfaccResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:mtrrecfaccResult" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="mtrrecfaccResult">
        <xs:sequence>
          <xs:element name="O_CODIGOERROR" type="xs:string" />
          <xs:element name="O_MENSAJEERROR" type="xs:string" />
          <xs:element name="O_NUMERODOCUMENTO" type="xs:string" />
          <xs:element name="O_NOMBRE" type="xs:string" />
          <xs:element name="O_REFERENCIA" type="xs:string" />
          <xs:element name="O_FECHATRANSACCION" type="xs:string" />
          <xs:element name="O_APROBACION" type="xs:string" />
          <xs:element name="O_VALORTOTAL" type="xs:string" />
          <xs:element name="O_VALORRECAUDADO" type="xs:string" />
          <xs:element name="O_VALOREXCESO" type="xs:string" />
          <xs:element name="O_VALORCOMISION" type="xs:string" />
          <xs:element name="O_LLAVEMULTIRED" type="xs:string" />
          <xs:element name="O_NOMBREENTIDAD" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </types>
  <message name="mtrrecfaccResponse">
    <part name="parameters" element="tns:mtrrecfaccResponse" />
  </message>
  <message name="mtrrecfacc">
    <part name="parameters" element="tns:mtrrecfacc" />
  </message>
  <portType name="RecaudoFacturasServices">
    <operation name="mtrrecfacc">
      <input wsam:Action="http://recaudofacturas.wsbeans.iseries/RecaudoFacturasServices/mtrrecfaccRequest" message="tns:mtrrecfacc" />
      <output wsam:Action="http://recaudofacturas.wsbeans.iseries/RecaudoFacturasServices/mtrrecfaccResponse" message="tns:mtrrecfaccResponse" />
    </operation>
  </portType>
  <binding name="RecaudoFacturasServicesPortBinding" type="tns:RecaudoFacturasServices">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="mtrrecfacc">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="RecaudoFacturas">
    <port name="RecaudoFacturasServicesPort" binding="tns:RecaudoFacturasServicesPortBinding">
      <soap:address location="http://181.57.139.181:10035/web/services/RecaudoFacturasService/RecaudoFacturas" />
    </port>
  </service>
</definitions>